services:
  postgres:
    image: postgres:16
    container_name: agent-service-postgres
    restart: unless-stopped

    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: agentdb

    ports:
      - "5436:5432"

    volumes:
      - fixerity-agent-service-postgres-data:/var/lib/postgresql/data

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  fixerity-agent-service-postgres-data:
