body {
    /*background-color: #fdfdfd;*/
    background-color: #f5f5f5;
}

.list-group {
    margin-bottom: 0;
    border-bottom: 1px solid gainsboro;
}

.list-group-item, .list-group:last-child {
    border: none;
}

.sc-cart-summary-subtotal {
    display: flow-root;
    text-align: left;
}

.sc-cart-toolbar {
    margin-top: 0;
}

.sc-cart-remove {
    font-size: 17px;
    top: 5px;
}

.cart, .address-detail {
    margin: 50px 0;
}

/*.amount::before, .original-price>del::before, .sc-cart-heading>.cart_order_min>span::before {
    content: "\f155" !important;
    font-family: FontAwesome;
    letter-spacing: 2px;
    font-size: 14px;
}*/

.sc-cart-heading>.cart_order_min>span::before,.sc-cart-heading>.cart_order_min>span{
    font-size: 16px;
    color: #d58512;
    font-weight: bold;
}

/*.sc-cart-subtotal::before {
    content: "\f155" !important;
    font-family: FontAwesome;
    letter-spacing: 5px;
    font-size: 18px;
}*/

.address {
    border: 1px solid #e9e9eb;
    height: 200px;
    float: left;
    margin: 2.5%;
    padding: 20px;
    width: 95%;
}

.address-detail .old-address-list .col-md-6:nth-child(odd) {
    /*padding-left: 0;*/
    /*padding-right: 0;*/
    /*padding: 15px 0;*/
    padding-right: 0px;
    padding-left: 15px;
}

.address-detail .old-address-list .col-md-6:nth-child(even) {
    /*padding-left: 0;*/
    /*padding-right: 0;*/
    padding-right: 15px;
    padding-left: 0px;
}

.add-left {
    width: 10%;
    float: left;
    text-align: center;
    color: lightgray;
}

.add-right {
    width: 90%;
    float: left;
    padding: 0 10px;
}

.add-right h3 {
    margin-top: 5px;
    margin-bottom: 15px;
    color: #292929;
    font-size: 20px;
    text-transform:capitalize;

}

.add-right h6 {
    margin: 0;
    margin-bottom: 5px;
}

.add-right p {
    font-size: 12px;
    color: #93959f;
    margin-bottom: 8px;
    font-weight: 300;
    line-height: 19px;
    height: 54px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}

.new-address {
    border: 1px dashed #e9e9eb;
    width: 95%;
}

.address:hover {
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
    box-shadow: 0 2px 8px #d4d5d9;
}

.select-address {
    display: none;
    height: auto;
    background-color: white;
    padding: 20px;
    margin-bottom: 50px;
}

.select-address .form-control {
    /*padding: 25px 10px;*/
    border-radius: 0;
    height: 50px;
}

#pac-input {
    left: 10px !important;
    bottom: 25px !important;
    top: auto !important;
}

.input-val-address {
    position: relative;
}

.address-btn, .btn-add-new {
    background-color: #60B246;
    padding: 10px 20px;
    font-weight: 600;
    text-align: center;
    font-size: 14px;
    letter-spacing: .3px;
    border: 0px;
    color: #fff;
}

.fa-briefcase {
    margin-top: 5px;
}

.title {
    margin: 0 25px 0;
    color: gray;
}

.btn-add-new {
    margin-top: 35px;
    margin-left: -20px;
}

.new-address .btn-add-new {
    border: 1px solid #60b246;
    color: #60b246;
    background: #fff;
    /*margin-top: 22px;*/
}

.sc-cart-summary .sc-cart-summary-subtotal span {
    font-size: 18px;
    font-weight: normal;
}

/*.sc-cart-summary .sc-cart-summary-subtotal:last-child span {
    font-size: 24px;
    font-weight: bold;
}*/

/*.sc-cart-summary .sc-cart-summary-subtotal:last-child {
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    margin: 15px -15px 0;
    padding: 0 15px 10px;
}*/

.address-detail {
    background-color: white;
    padding: 10px 0;
    border: 1px solid #f5f5f5;
}

.payment {
    display: inline-block;
    background-color: white;
    /*margin: 0 20px 100px 20px;*/
    margin-bottom: 100px;
    padding: 0 20px 20px;
    width: 100%;
}

.payment .title {
    margin: 0 0 15px 0;
}

.payment_type {
    float: left;
    /*border: 1px solid #ccc;*/
    background-color: #f1f1f1;
    width: 100%;
    /*height: 300px;*/
}

/* Style the buttons inside the tab */
.payment_type button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.payment_type button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.payment_type button.active {
    background-color: #ccc;
}

.payment .radio-payment {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.payment .radio-payment input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.payment .radio-payment .checkmark {
    position: absolute;
    top: 7px;
    left: 0;
    height: 18px;
    width: 18px;
    /*background-color: #eee;*/
    border: 1px solid lightgrey;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
/*.payment .radio-payment:hover input ~ .checkmark {*/
/*background-color: #ccc;*/
/*}*/

/* When the checkbox is checked, add a blue background */
.payment .radio-payment input:checked ~ .checkmark {
    background-color: #60B246;
}

/* Create the checkmark/indicator (hidden when not checked) */
.payment .radio-payment .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.payment .radio-payment input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.payment .radio-payment .checkmark:after {
    top: 6px;
    left: 6px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: white;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0 12px;
    /*border: 1px solid #ccc;*/
    width: 65%;
    border-left: none;
    /*height: 300px;*/
}

.tabcontent h3 {
    margin-top: 0;
}

.add-card {
    border: 1px solid lightgrey;
    padding: 15px;
    margin: 15px 0;
    width: 70%;
}

.add-new-card {
    border: 1px dashed lightgrey;
}

.add-card .fa-cc-visa, .add-card .fa-plus {
    color: grey;
}

.add-card .add-right {
    margin-top: -5px;
}

.add-card .bottom {
    clear: both;
    margin-top: 50px;
}

.add-new-card .bottom {
    margin-top: 30px;
}

.add-new-card .bottom p {
    margin-left: 35px;
    font-size: 12px;
}

.add-card .bottom .btn-add-new {
    margin-top: 0;
    margin-left: 10px;
    padding: 8px 15px;
    display: inline-block;
}

.add-card .bottom .btn-add-new:hover, .add-card .bottom .btn-add-new:focus {
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
    box-shadow: 0 4px 14px #d4d5d9;
    color: #fff;
}

.payment-content {
    display: none;
}

.address-detail .title #address-change {
    display: none;
    margin-top: 5px;
    padding: 10px;
    float: right;
    font-size: 18px;
    color: #FF6F00;
    cursor: pointer;
}

.address-detail .title #address-select:before {
    content: '\f00c';
    font-family: FontAwesome;
    margin-top: -5px;
    color: white;
}

.address-detail .title #address-select {
    display: none;
    border-color: #60b246;
    background-color: #60b246;
    color: #fff;
    font-size: 18px;
    padding: 5px 9px 5px 9px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    line-height: 0;
}

.address-detail .change-color {
    background-color: #FFA000;
}

.sc-cart-toolbar .error {
    margin: 10px 0 15px;
    color: red;
    display: block;
    text-align: center;
}

.product-cart-list {
    max-height: 260px;
    overflow-y: auto;
}

.coupon {
    border: 1px dashed #bebfc5;
    padding: 12px 16px;
    font-size: 12px;
    display: block;
    margin: 20px 0px;
    background-color: white;
}

.coupon:hover {
    box-shadow: 0 4px 14px #d4d5d9;
}

.coupon-left {
    color: #686b78;
    margin-left: 15px;
}

.coupon-right {
    font-weight: 600;
    margin-right: 15px;
    color: #fc8019;
    text-transform: uppercase;
}

.sc-cart-toolbar button {
    margin-top: 0;
}

.add_new_left {
    padding-right: 0px;
    padding-left: 15px;
}

.add_new_right {
    padding-right: 15px;
    padding-left: 0px;
}

.original-price,.original-price::before{
    font-size: 13px;
}

.original-price{
    position: absolute;
    right: 25px;
    top: 27px;
}

@media screen and (max-width: 992px) {
    .address-detail .old-address-list .col-md-6:nth-child(odd), .address-detail .old-address-list .col-md-6:nth-child(even),.add_new_left ,add_new_right {
        padding: 0 15px;
    }

    .add_new_left {
        padding-right: 15px;
    }

    .navbar-brand {
        padding: 15px 0;
    }
}

@media screen and (max-width: 1024px) {
    .theiaStickySidebar{
        padding: 0;
    }
}
@media screen and (max-width: 731px) {
    .payment {
        margin-bottom: 0;
    }
}
