/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

.modal {
    display: none;
}

.user {
    display: none; / Hidden by default /
position: fixed; / Stay in place /
z-index: 1; / Sit on top /
left: 0;
    top: 0;
    width: 100%; / Full width /
height: 100%; / Full height /
overflow: auto; / Enable scroll if needed /
background-color: rgb(0, 0, 0); / Fallback color /
background-color: rgba(0, 0, 0, 0.8); / Black w/ opacity /
padding-top: 60px;
}

.user .close {
    position: absolute;
    right: 25px;
    top: 25px;
    color: #cccccc;
    font-size: 35px;
    opacity: 1;
}

.user .close:hover,
.user .close:focus {
    color: white;
    cursor: pointer;
}

.user .loginform {
    margin-top: 5%;
}

.user ul {
    margin: 0;
    padding: 0;
}

/*-- main --*/
.login-top {
    padding: 2em;
}

.login-top .col-form-label {
    color: #3c3a3a !important;
    font-weight: 500;
}

.login-top input[type="text"], .login-top input[type="email"],.login-top select, .login-top input[type="password"] {
    outline: none;
    font-size: 1em;
    /*color: #000;*/
    height: 42px;
    padding: 1px 5px;
    margin: 0;
    width: 100%;
    border: none;
    border: 1px solid #7a73735c;
    -webkit-appearance: none;
    /*margin-bottom: 1em;*/
    /*margin-top: 15px;*/
    font-family: 'Josefin Sans', sans-serif;
    /*border-left: 4px solid #999;*/
    border-radius: 6px;
}

.login-top input[type="submit"] {
    background-color: #8702ae;
    color: #fff;
    padding: .8em 0;
    width: 30%;
    outline: none;
    border: none;
    font-size: 1em;
    cursor: pointer;
    letter-spacing: 1px;
    font-family: 'Josefin Sans', sans-serif;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.login-top input[type="submit"]:hover {
    background-color: #8702ae;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

/*-- checkbox --*/
.login-top input[type="checkbox"] {
    /*display: none;*/
}

/*.login-top input[type="checkbox"] + label {*/
/*    position: relative;*/
/*    padding-left: 1.5em;*/
/*    border: none;*/
/*    outline: none;*/
/*    font-size: 1em;*/
/*    color: #999;*/
/*    font-weight: 400;*/
/*    cursor: pointer;*/
/*}*/

/*.login-top input[type="checkbox"] + label span:first-child {*/
/*    width: 14px;*/
/*    height: 14px;*/
/*    border: 2px solid #C8C8C8;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0px;*/
/*}*/

/*.login-top input[type="checkbox"]:checked + label span:first-child:before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    left: 2px;*/
/*    top: 2px;*/
/*    font-size: 10px;*/
/*    width: 10px;*/
/*    height: 10px;*/
/*}*/

.facebook-login {
    background-color: #3b5998;
}

.google-login {
    background-color: #dd4b39;
}

.facebook-login, .google-login {
    color: white;
    font-size: 20px;
    margin-top: 15px;
    padding: 5px 0;
}

.facebook-login span, .google-login span {
    width: 20%;
    display: inline-block;
    text-align: center;
    font-size: 24px;
}

.facebook-login:hover {
    background-color: #0f48bd;
    color: white;
    text-decoration-line: none;
}

.google-login:hover {
    background-color: #d01801;
    color: white;
    text-decoration-line: none;
}

/*-- //checkbox --*/
.login-bottom {
    margin: 1.5em 0;
}

.login-bottom li {
    display: inline-block;
    float: left;
}

.login-bottom li:nth-child(2) {
    float: right;
}

.login-bottom a {
    font-size: 1em;
    color: #999;
    vertical-align: middle;
}

.login-bottom input[type="submit"] {
    font-size: 0.9em;
    color: #fff;
    background: #0c517d;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    -webkit-appearance: none;
}

.login-bottom input[type="submit"]:hover {
    background: #387296;
    color: #ffffff;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}

/*-- w3layouts --*/
.tab_box {
    background: #8702ae;
    padding: 2em;
}

.top1 {
    margin-top: 2%;
}

.resp-tabs-list {
    list-style: none;
    text-align: center;
}

.resp-tab-item {
    color: #000000;
    font-size: 1.5em;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    width: 50%;
    background: #b1b1b1;
    float: left;
    padding: 15px 0;
}

.resp-tab-active {
    text-shadow: none;
    color: #fff;
    background: #8702ae;
}

.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-tab-item label {
    margin-right: 8px;
}

/*-- agileits --*/
/*-- //Index-Page-Styling --*/
/*--responsive--*/
@media (max-width: 640px) {
    .resp-tab-item {
        font-size: 1.3em;
    }
}

@media (max-width: 568px) {
    .resp-tab-item {
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {
    .login-top input[type="text"], .login-top input[type="email"],.login-top select, .login-top input[type="password"] {
        padding: .8em .5em;
        /*width: 94%;*/
    }

    .resp-tab-item {
        font-size: 1.1em;
    }
}

@media (max-width: 414px) {
    .login-top {
        padding: 1.5em;
    }

    .login-top input[type="text"], .login-top input[type="email"],.login-top select, .login-top input[type="password"] {
        /*width: 93.5%;*/
    }
}

@media (max-width: 384px) {
    .resp-tab-item {
        font-size: 1em;
        padding: 14px 0;
    }

    .login-top input[type="text"], .login-top input[type="email"],.login-top select, .login-top input[type="password"] {
        /*width: 93%;*/
    }
}

@media (max-width: 375px) {
    .login-top input[type="text"], .login-top input[type="email"],.login-top select, .login-top input[type="password"] {
        /*width: 92.5%;*/
    }

    .login-top input[type="submit"] {
        padding: .7em 0;
    }
}

@media (max-width: 320px) {
    .resp-tab-item {
        padding: 12px 0;
    }

    .login-top input[type="text"], .login-top input[type="email"],.login-top select, .login-top input[type="password"] {
        font-size: .9em;
        /*width: 92%;*/
    }

    /*.login-top input[type="checkbox"] + label {*/
    /*    font-size: .9em;*/
    /*}*/

    /*.login-top input[type="checkbox"] + label span:first-child {*/
    /*    width: 12px;*/
    /*    height: 12px;*/
    /*    top: 1px;*/
    /*}*/

    .login-bottom a {
        font-size: .9em;
    }

    .login-top input[type="submit"] {
        font-size: .9em;
    }
}

/*--//responsive--*/
