.error{
    color: red;
}
.title h2{
    padding-left: 15px;
}
.order_list{
    border: 1px solid gainsboro;
    padding: 15px 0;
    margin: 15px 0px;
}
.order_list .order_list_bottom{
    margin-top: 15px;
    border-top: 1px dashed lightgray;
}
.order_list .order_list_bottom .order_list_left,.order_list .order_list_bottom .order_list_right{
    margin-top: 10px;
    padding: 0;
}
.order_list .order_list_bottom .order_list_right{
    text-align: right;
    font-size: 16px;
}
.order_list .order_list_bottom .order_list_right span:before{
    content: "$";
    font-family: FontAwesome;
    font-size: 14px;
}
#close{
    float: right;
    margin-top: -60px;
    margin-right: -19px;
    color: white;
    padding: 5px 15px;
}
.offer_list:nth-child(odd){
    padding: 15px;
}
.offer_list:nth-child(even){
    padding: 15px;
}
.offer_list .offer{
    border: 1px solid gainsboro;
    padding: 5px 15px;
}
.offer_list .offer h4{
    background: #8a584b;
    display: inline-block;
    position: relative;
    padding: 5px;
    padding-right: 12px;
    color: #fff;
}
.offer_list .offer h4::before {
    content: "";
    position: absolute;
    right: -15px;
    border-top: 15px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 15px solid #8a584b;
    bottom: 0;
}
.offer_list .offer table{
    width: 100%;
}
.offer_list .offer table tr td{
    width: 50%;
    /*font-size: 12px;*/
}

.address-detail .list-address{
    padding: 0;
}
.address-detail .txt{
    padding-left: 15px;
}
.address-detail .address {
    border: 1px solid #e9e9eb;
    height: 200px;
    float: left;
    margin: 2.5%;
    padding: 20px;
    width: 95%;
}
.address-detail .add-left {
    width: 10%;
    float: left;
    text-align: center;
    color: lightgray;
}
.address-detail .add-right {
    width: 90%;
    float: left;
    padding: 0 10px;
}
.address-detail .add-right h3 {
    margin-top: 5px;
    margin-bottom: 15px;
    color: #292929;
    font-size: 20px;
}
.address-detail .add-right a:hover{
    text-decoration: none;
}
.address-detail .add-right p {
    font-size: 12px;
    color: #93959f;
    margin-bottom: 8px;
    font-weight: 300;
    line-height: 19px;
    height: 54px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.address-detail .add-right h6 {
    margin: 0;
    margin-bottom: 5px;
}
.address-detail .address-btn, .address-detail .btn-add-new{
    background-color: #60B246;
    padding: 10px 20px;
    font-weight: 600;
    text-align: center;
    font-size: 14px;
    letter-spacing: .3px;
    border: 0px;
    color: #fff;
}
.address-detail .new-address .btn-add-new {
    border: 1px solid #60b246;
    color: #60b246;
    background: #fff;
    /* margin-top: 22px; */
}
.address-detail .btn-add-new {
    margin-top: 35px;
    margin-left: -20px;
}
.address-detail .address:hover {
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
    box-shadow: 0 2px 8px #d4d5d9;
}
.select-address {
    display: none;
    /*height: 500px;*/
    background-color: white;
    padding: 20px;
    margin: 15px;
    margin-bottom: 50px;
    border: 1px solid gainsboro;
}

.select-address h3{
    margin-left: 15px;
    margin-top: 0;
    margin-bottom: 15px;
}
.select-address .form-control{
    /*padding: 25px 10px;*/
    border-radius: 0;
    height: 50px;
}
.old-address-list{
    clear: both;
}

.address-detail .edit{
    border: 1px solid #FFA000;
    background-color: #FFA000;
}

.address-detail .delete,.new-card .delete{
    border: 1px solid red;
    background-color: red;
}
.user_details{
    width: 100%;
    margin-bottom: 50px;
}
.user_details .edit_user_details .profile_img{
    width: 200px;
    margin: 0 auto;
}
.user_details > .change_details{
    width: 40%;
    margin: 0 auto;
}
.user_details .edit_user_details .profile_img #upload-preview{
    width: 100%;
    height: 190px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 20px;
}
.user_details #button-profile-avtar{
    background-color: #60b246d1;
    color: white;
    border-color: #60b246d1;
}
.user_details #remove-profile-avtar{
    background-color: #ff0000a1;
    color: white;
    border-color: #ff0000a1;
}
.user_details #profile-avtar{
    display: none;
}
.edit_user_details{
    width: 50%;
    margin: 0 auto;
}
.user_details .change-pass,.user_details .change-pass .detail-submit{
    margin-top: 25px;
}




.payment {
    display: inline-block;
    background-color: white;
    /*margin: 0 20px 100px 20px;*/
    margin-bottom: 100px;
    padding: 0 20px 20px;
    width: 100%;
}

.payment .title {
    margin: 0 0 15px 0;
}

.payment_type {
    float: left;
    /*border: 1px solid #ccc;*/
    background-color: #f1f1f1;
    width: 35%;
    /*height: 300px;*/
}

/* Style the buttons inside the tab */
.payment_type button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.payment_type button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.payment_type button.active {
    background-color: #ccc;
}

.payment .radio-payment{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.payment .radio-payment input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.payment .radio-payment .checkmark {
    position: absolute;
    top: 7px;
    left: 0;
    height: 18px;
    width: 18px;
    /*background-color: #eee;*/
    border: 1px solid lightgrey;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
/*.payment .radio-payment:hover input ~ .checkmark {*/
/*background-color: #ccc;*/
/*}*/

/* When the checkbox is checked, add a blue background */
.payment .radio-payment input:checked ~ .checkmark {
    background-color: #60B246;
}

/* Create the checkmark/indicator (hidden when not checked) */
.payment .radio-payment .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.payment .radio-payment input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.payment .radio-payment .checkmark:after {
    top: 6px;
    left: 6px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: white;
}

/* Style the tab content */
.add-card {
    border: 1px solid lightgrey;
    padding: 15px;
    margin: 15px 0;
    /*width: 50%;*/
    /*display: inline-block;*/
    /*float: left;*/
}

.add-new-card {
    border: 1px dashed lightgrey;
}
.add-card .fa-cc-visa,.add-card .fa-plus {
    color: grey;
}

.add-card .add-right {
    margin-top: -5px;
}

.add-card .bottom {
    clear: both;
    margin-top: 50px;
}
.add-new-card .bottom{
    margin-top: 30px;
}

.add-new-card .bottom p{
    margin-left: 35px;
    font-size: 12px;
}
.add-card .bottom .btn-add-new {
    margin-top: 0;
    margin-left: 10px;
    padding: 8px 15px;
    display: inline-block;
}

.add-card .bottom .btn-add-new:hover, .add-card .bottom .btn-add-new:focus {
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
    box-shadow: 0 4px 14px #d4d5d9;
    color: #fff;
}

.payment-content{
    /*display: none;*/
}

.address-detail .title #address-change{
    display: none;
    margin-top: 5px;
    padding: 10px;
    float: right;
    font-size: 18px;
    color: #FF6F00;
    cursor: pointer;
}

.address-detail .title #address-select:before{
    content: '\f00c';
    font-family: FontAwesome;
    margin-top: -5px;
    color: white;
}
.address-detail .title #address-select{
    display: none;
    border-color: #60b246;
    background-color: #60b246;
    color: #fff;
    font-size: 18px;
    padding: 5px 9px 5px 9px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    line-height: 0;
}
.address-detail .change-color{
    background-color: #FFA000;
}

.sc-cart-toolbar .error{
    margin-top: 10px;
    color: red;
    display: block;
    text-align: center;
}

.add-left {
    width: 10%;
    float: left;
    text-align: center;
    color: lightgray;
}

.add-right {
    width: 90%;
    float: left;
    padding: 0 10px;
}

.add-right h3 {
    margin-top: 5px;
    margin-bottom: 15px;
    color: #292929;
    font-size: 20px;
}

.add-right h6 {
    margin: 0;
    margin-bottom: 5px;
}

.add-right p {
    font-size: 12px;
    color: #93959f;
    margin-bottom: 8px;
    font-weight: 300;
    line-height: 19px;
    height: 54px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn-add-new {
    margin-top: 35px;
    margin-left: -20px;
}

.btn-add-new {
    background-color: #60B246;
    padding: 10px 20px;
    font-weight: 600;
    text-align: center;
    font-size: 14px;
    letter-spacing: .3px;
    border: 0px;
    color: #fff;
    /*margin-top: 22px;*/
}

/*.food-list img{*/
    /*width: 100%;*/
    /*height: 160px;*/
/*}*/

.heart {
    /*background-color: #fa4a5b;*/
    width: 30px;
    height: 30px;
    color: #fff;
    position: absolute;
    top: 22px;
    right: 13px;
    text-align: center;
    padding: 3px;
    font-size: 20px;
    background-color: #FFA000;
}

.heart::after {
    content: "";
    position: absolute;
    bottom: -9px;
    width: 0;
    height: 0;
    right: 0;
    border-right: 9px solid transparent;
    /*border-top: 9px solid #d22b3b;*/
    border-top: 9px solid #d68702;
}

.heart .fa-heart {
    color: #d22b3b;
}

@media screen and (min-width: 786px) {
    .vendor-list a:hover .heart{
        top: 21px;
        right: 12px;
    }
}

.order_list .cancel{
    position: absolute;
    top: 0;
    right: 15px;
    background-color: #FFA000;
    border-radius:10px;
    outline: none;
    border: none;
    color: white;
    padding: 5px 10px;
}
.order_list .cancel:hover{
    transform: translateY(-1px);
    box-shadow: 0 4px 14px #d4d5d9;
}


.payment .new-card{
    display: none;
    width: 60%;
    margin: 0 auto;
    border: 1px solid gainsboro;
}
.payment .new-card h3{
    padding-left: 15px;
}
.payment .new-card #close{
    margin-right: 10px;
    margin-top: -40px;
}
.payment .new-card .details{
    padding: 5px 0px;
}
.payment .new-card .details .btn-add-new{
    margin: 5px 0;
}
